nav {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  margin-top: 50px;
}

.stickme {
  position: sticky;
  top: 50px;
  background-color: #a8c69f;
  padding: 10px;
}

nav li:hover {
  background-color: #a8c69f;
}
